Thank you for your request for a new password for use with the FUNcube Data Warehouse.

The password: 

$password

has been generated and is available for immediate use.

If you did not expect to see this message please email support@funcube.net with the 
details.

Regards

The FUNcube Team