Thank you for registering your site ($siteName) for use with the FUNcube Data Warehouse.

Your system generated password is: $password

The key: 

$authKey

should be entered into the Registration Code box when you log in for the first time.

If you need to recover your password or registration code in the future, please use 
the buttons at the bottom of the login page.

Regards

The FUNcube Team