Thank you for registering your site ($siteName) to take part in the data upload 
for the FUNcube project.

Your password is: $password

The key: $authKey should be entered into the Auth. Code box when you log 
in for the first time.

Once this has been done, please set up the PC Dashboard in the:

File -> Settings -> Warehouse menu

Site Id: enter the Callsign/School/Name you chose
Auth Code: enter the authorisation code you received
URL: enter http://data.funcube.org.uk
Stream data to warehouse: check the box 

Regards

The FUNcube Team